@using DataAccess.Model

<QuickGrid Items="this.ServiceVersions.AsQueryable()">
    <TemplateColumn Title="">
        <button class="btn btn-primary" @onclick="@(() => this.OpenDetail(context))">Öffnen</button>
    </TemplateColumn>
    <PropertyColumn Property="x => x.Version" Sortable="true" IsDefaultSortColumn />
    <PropertyColumn Property="x => x.ServiceConfiguration" Sortable="true" />
</QuickGrid>
