@attribute [Route(RouteConstants.CreateSetting)]
@inherits BaseEntityComponent<Service>
@using DataAccess.Enums
@using UI.Components.Base

@if (!string.IsNullOrWhiteSpace(this._error))
{
    <Alert Level="EAlertLevel.Error">@this._error</Alert>
}

<div class="create-container">
    <label>Version</label>
    <div class="version">@this._version</div>

    <label>Einstellung</label>
    <InputTextArea @bind-Value="this._value" />

    <button class="btn btn-primary" @onclick="this.OpenViewer">Preview</button>
    <button class="btn btn-primary" @onclick="this.Submit">Übernehmen</button>
</div>
